* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;

}

h1,
h2,
h3,
p {
    font-size: 14px;
    color: black;

}


/* menu desktop  START*/
#menu-desktop {}

.header-wrapper {
    z-index: 2;
    position: relative;
}

.item-a {
    grid-area: header;
    background: skyblue;
}

.item-b {
    grid-area: main;
    background: gold;
}

.item-d {
    grid-area: footer;
    background: lightseagreen;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}


.header-menu-container {
    justify-self: center;
    align-self: center;
}



.wrapper {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100%;
    grid-column-gap: 20px;
    height: 100px;
    transition: height .5s cubic-bezier(.19, 1, .22, 1);
}

ul {
    display: flex;
    flex-wrap: nowrap;

    font-size: 16px;
    color: black;

}

li {
    margin-right: 15px;
}



.logo {
    background-image: url(logo/kogalogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 50px;

    align-self: center;
    transition: transform .5s cubic-bezier(.19, 1, .22, 1);

    justify-self: center;
}

#shopping-icons {
    justify-self: center;
    align-self: center;
}

/* menu desktop  SLUT*/

/* bike list pictures START*/

.bike-list-container {
    min-height: 100px;
    width: 100%;


    display: flex;
    flex-wrap: nowrap;
}

.bike-angle-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.bike {
    flex-grow: 1;
    flex-basis: 300px;
}

.angle {
    background-color: blue;
    background-image: url(ImageBikeBackground/miyata_pro.jpg);
    width: 200px;
    background-size: contain;
    min-height: 10px;
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;

}



/* bike list pictures SLUT*/



.splashimage {

    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}


.front-page-splash {
    background-image: url(ImageBikeBackground/miyata_pro.jpg);
}

main {
    /*    min-height: 100vh;
    width: 100%;
    display: grid;

    grid-template-rows: 500px;
    grid-template-columns: repeat (3, 1fr);*/
}



#list-wrapper {

    margin-left: 50px;
    margin-right: 50px;
    min-height: 600px;
    width: 70%;
    background-color: rgba(33, 130, 214, 0.68);
    overflow: scroll;


}


.liste {
    position: absolute;

    display: flex;
    overflow: scroll;

}

.ret {


    height: 300px;
    width: 300px;
}
